In [1]:
from visuals import *

In [6]:
data = pd.read_csv('walk_30sec_5m_all_acc.csv', delimiter =';')#, decimal='.')

In [8]:
data.head()

     time   X_value  Y_value  Z_value
0  0,0039  -3,49085  1,50839  9,34725
1  0,0048   -3,3855  1,49882  9,54358
2  0,0062  -3,28255  1,48924  9,72554
3  0,0081  -3,23467  1,48924  9,81174
4  0,0105  -3,15565  1,48924  9,98413

In [13]:
x_acc = (data['X_value'].values).reshape([-1, 1])
t = (data['time'].values).reshape([-1, 1])
x_acc, t

(array([['-3,49085'],
        ['-3,3855'],
        ['-3,28255'],
        ...,
        ['-0,18196'],
        ['-0,18915'],
        ['-0,18675']], dtype=object), array([['0,0039'],
        ['0,0048'],
        ['0,0062'],
        ...,
        ['33,5216'],
        ['33,5243'],
        ['33,5292']], dtype=object))